* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* VARIABLES */
body {
  --blue: #93b5c9;
  --wine: #ab2849;
  position: relative;
  height: 117vh;
  width: 100vw;
}

nav {
  position: absolute;
  height: 15vh;
  width: 100vw;
  background: var(--blue);
  top: 0;
}
main {
  position: relative;
  height: 85vh;
  width: 100vw;
}
header {
  position: absolute;
  height: 30vh;
  width: 100vw;
  background: var(--wine);
  top: 15vh;
}
section {
  position: absolute;
  top: 45vh;
  width: 80vw;
  left: 10vw;
}
section > * {
  height: 10vh;
  width: 100%;
  background: var(--wine);
  margin: 1em 0;
}
div:nth-of-type(even) {
  position: relative;
  background: none;
}
div:nth-of-type(even) > *:first-child {
  position: absolute;
  width: 49.5%;
  height: 100%;
  background-color: var(--wine);
  right: 0;
}
div:nth-of-type(even) > *:last-child {
  position: absolute;
  width: 49.5%;
  height: 100%;
  background-color: var(--wine);
  left: 0;
}
footer {
  position: absolute;
  background: var(--wine);
  height: 15vh;
  width: 100vw;
  top: 100vh;
}
